body, html {
  height: 100%;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1.25px;
  scroll-behavior: smooth;
}
@media (max-width:575px) {
  body, html {
  font-size: 16px;
  letter-spacing: 1px;
}
}
/* START: UNIVERSAL HEADINGS */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0px;
}


/* START: H1 w Media Querie */
h1, .h1 {
  font-family: 'Shanti', sans-serif;  font-size: 84px;
  letter-spacing: 5px;
  font-weight:600;
  text-transform: uppercase;
}

@media (max-width:992px) {
  h1, .h1 {
    font-size: 72px;
    letter-spacing: 4px;
  }
}
@media (max-width:768px) {
  h1, .h1 {
    font-size: 56px;
    letter-spacing: 2.5px;
  }
}
@media (max-width:576px) {
  h1, .h1 {
    font-size: 42px;
    letter-spacing: 1.5px;
  }
}
/*END: H1 w Media Queries*/

/* START: H2 w Media Queries */
h2, .h2 {
  font-family: 'Lato', sans-serif;
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
}
/*END: H2 w Media Queries*/


/* START: H2 w Media Queries */
h3, .h3 {
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
}
@media (max-width:992px) {
th.h3{
  font-size: 22px;
  letter-spacing: 1.5px;

}
}
@media (max-width:768px) {
th.h3{
  font-size: 14px;
  letter-spacing: 1px;
}
}

/*END: H3 w Media Queries*/

/* START: H4 w Media Queries */
h4, .h4 {
  font-family: 'Lato', sans-serif;
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
}
/*END: H4 w Media Queries*/

/* START: H5 w Media Queries */
h5, .h5 {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 3px;
  line-height: 1.5;
}

@media (max-width:992px) {
h5, .h5{
  font-size: 20px;
  letter-spacing: 2px;
}
}
@media (max-width:768px) {
h5,  .h5{
  font-size: 18px;
  letter-spacing: 1.5px;
}
}
/*END: H5 w Media Queries*/

/* START: H6 w Media Queries */
h6 {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.fw-400 {
  font-weight: 400;
}
/*END: H6 w Media Queries*/
/* END: UNIVERSAL HEADINGS */

/* START: NAVBAR STYLES */
.navbar {
  box-shadow: none; /* Removing default shadow from bootstrap nave*/
  padding: 10px;
}
.navbar-nav {
  float: right;
}
.navbar-brand {
  max-width: 80px; /* Logo in the leff of the navbar will be max of 80px wide*/
  padding: none !important;
  height: unset;
    padding: 0px;
}
.navbar-brand:hover {
  cursor: pointer;
}

/* START: Links to pages in nav*/
.nav-item {
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 16px;
  font-weight: 800;
  padding-left:15px;
}
@media only screen and (min-width:577px) and (max-width:845px){
  .nav-item {
    font-size: 14px;
    padding-left: 10px;
    letter-spacing: 2px;
  }
}

@media only screen and (max-width:576px){
  .nav-item {
    font-size: 24px;
    padding-left: 15px;
    letter-spacing: 2px;
  }
}

.nav-link {
  color: #FFFFFF; /* Default nav link text color is white*/

}
.nav-link:hover {
  color: #FA0196; /* Default nav link text color is pink on hover*/
}
.nav-link:active {
  color: #FA0196; /* Default nav link text color is pink on hover*/
}
.nav-item:hover {
  cursor: pointer !important;
}

.navbar-toggler {
  color: #FFFFFF;
  padding: 0px !important;
}
.navbar .dropdown-menu {
  position: static !important;
}

.dropdown-menu.dropdown-primary.show {
  width: min-content;
}
/* END: NAVBAR STYLES */


/* START: UNIVERSAL ICONS */
i {
  color: #FA0196; /* Default Icon Color is Pink */
}
.navbar-toggler-icon i {
  color: #FFFFFF; /* Responsive Hamburger Menu is White*/
}
.navbar-toggler-icon i:hover {
  color: #FA0196; /* Responsive Hamburger Menu turns pick on hover*/
}
.social {
  font-size: 18px;
}
.social:hover {
  color: #FFFFFF;
}
/* END: UNIVERSAL ICONS */


a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

nav a:focus, nav a:hover {
    color: #FA0196;
}
hr {
border-top: 1px solid #FA0196;
}

.pink-header {
  color: #FA0196;
}
.black-header {
  color: #141413;
}

.black-bg {
  background-color: #141413;
}
.pink-bg {
  background-color: #FA0196;
}

.margin-right-0 {
  margin-right: 0 !important;
}
.margin-left-0 {
  margin-left: 0 !important;
}

.modal-content {
  padding-left: 30px;
  padding-right: 30px;]
}

/* START: BUTTONS */
.btn {
  border-radius: 100px; /* Makes the buttons pill shaped*/
  text-transform: uppercase;
  font-size:14px;
  letter-spacing: 2px;
  padding: 10px 22px;
  transition: .5s;
}

.btn:disabled {
  box-shadow: none;
  opacity:.2 !important;
}

.btn:hover {
  transition: .5s;
  box-shadow: 1px 2px 10px 0 rgba(0,0,0,.26), 1px 2px 10px 0 rgba(0,0,0,.22);
}

.btn:active {
  transition: .5s;
  box-shadow: none;
}
.btn:focus {
  transition: .5s;
  box-shadow: none;
  box-shadow: none;
}

/* START: Pink Buttons*/
.btn-primary {
  background-color: #FA0196 !important;
  border-color: #FA0196 !important;
  color: #FFFFFF !important;
}

.btn-primary:hover {
  background-color: #FFFFFF !important;
  border-color: #FFFFFF !important;
  color: #FA0196 !important;
}
.hero .btm-primary:hover {
  background-color: #FFFFFF !important;
  border-color: #FFFFFF !important;
  color: #FA0196 !important;
}

.btn-primary:active {
  background-color: #FFFFFF !important;
  border-color: #FFFFFF !important;
  color: #FA0196 !important;
}

.btn-primary:not([disabled]):not(.disabled):active {
  background-color: #FFFFFF !important;
  border-color: #FFFFFF !important;
  color: #FA0196 !important;
}
/* END: Pink Buttons*/

/* START: White Buttons */
.btn-secondary {
  background-color: #FFFFFF !important;
  border-color: #FFFFFF !important;
  color: #FA0196 !important;
}

.btn-secondary:hover {
  background-color: #FA0196 !important;
  border-color: #FA0196 !important;
  color: #FFFFFF !important;
}

.btn-secondary:active {
  background-color: #FA0196 !important;
  border-color: #FA0196 !important;
  color: #FFFFFF !important;
}

.btn-secondary:not([disabled]):not(.disabled):active {
  background-color: #FA0196 !important;
  border-color: #FA0196 !important;
  color: #FFFFFF !important;
}

.btn-info {
  background-color: #06BEDB !important;
  border-color: #06BEDB !important;
  color: #FFFFFF !important;
}

.btn-info:hover {
  background-color: #FFFFFF !important;
  border-color: #FFFFFF !important;
  color: #06BEDB !important;
}

.btn-info:active {
  background-color: #FFFFFF !important;
  border-color: #FFFFFF !important;
  color: #06BEDB !important;
}

.btn-info:not([disabled]):not(.disabled):active {
  background-color: #FFFFFF !important;
  border-color: #FFFFFF !important;
  color: #06BEDB !important;
}
/* END: BUTTONS*/



/* START: INDEX.HTML*/
.home-layout {
  max-width: 1024px;
  padding-left: 3vw;
  padding-right: 3vw;
}
/* START: hero section*/
/* Basic background image styling. */
.background-image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Styles for the alternating / transition effect. */
.toggle-image {
  background-color: #000000;
 	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
 	height: 100%;
	transition: opacity 1s ease-in-out;
}


/* Styles for the specific images. */
.first-image {
  background-image: url('../Assets/Images/herolela.png');
	z-index: -3;
	opacity: 0;
}

.second-image {
  background-image: url('../Assets/Images/heroramel.png');
	z-index: -2;
	opacity: 0;
}

.third-image {
  background-image: url('../Assets/Images/herostephen.png');
	z-index: -1;
	opacity: 0;
}
.fourth-image {
  background-image: url('../Assets/Images/herostudio.png');
	z-index: -1;
	opacity: 0;
}

.first-image.show {
	opacity: 1;
}

.second-image.show {
	opacity: 1;
}

.third-image.show {
	opacity: 1;
}
.fourth-image.show {
	opacity: 1;
}
.miri-text-img {
  max-width:300px;
}
.hero-inner {
  color:#FFFFFF !important;
  margin-top: 20vh;
}
@media (max-width:576px) {
.hero-inner {
  margin-top: 15vh;
  }
}


.down-arrow {
  display: block;
  margin: 0 auto;
  margin-top: 10vh;
  transition: .5s;
}
@media (max-width:576px) {
.down-arrow {
  margin-top: 30px;
  }
}

.down-arrow:hover {
  cursor: pointer;
  margin-top:calc(10vh + 10px);
  transition: .5s;
}
/* END: hero section*/

/* START: about section*/
.abt-home-section {
  background-color: #141413 !important;
  color: #FFFFFF !important;
  height: 40%;
}
/* END: end section*/

/* START: service section on index.html page*/
.serv-section {
  background-color: #FA0196;
  /* min-height: 262px;
  max-height: 262px; */
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-right: 5px solid #FFFFFF;
  color: #FFFFFF;
}

.serv-section a {
  color:#FFFFFF;
}
.serv-section a:hover h4{
  color:#FFFFFF;
  text-decoration: overline;

}

.recording {
  background-image:url("../Assets/Images/recording.png");
}

.mixing {
  background-image:url("../Assets/Images/mixing.png");
}

.mastering {
  background-image:url("../Assets/Images/mastering.png");
}

.live-videos {
  background-image:url("../Assets/Images/videos.png");
  border-right: none;
}

/* Media Queries below are adding borders responsively*/
@media (max-width:991px) {
  .recording {
    border-right: 5px solid #FFFFFF;
    border-bottom: 5px solid #FFFFFF;
  }

  .mixing {
    border-right: none;
    border-bottom: 5px solid #FFFFFF;
  }

  .mastering {
    border-right: 5px solid #FFFFFF;
  }
}
@media (max-width:575px) {
  .recording {
    border-right: none;
    border-bottom: 5px solid #FFFFFF;
  }

  .mixing {
    border-right: none;
    border-bottom: 5px solid #FFFFFF;
  }

  .mastering {
    border-right: none;
    border-bottom: 5px solid #FFFFFF;
  }
}

/*START: Artist slider*/
.box-shadow {
box-shadow: 3px 5px 8px 0 rgba(0,0,0,.18), 3px 4px 8px 0 rgba(0,0,0,.15);
}


.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/*END: Artist slider*/

/* START: Material Form  Styling*/
.md-form input[type=text]:not(.browser-default):focus:not([readonly]):focus, .md-form textarea.md-textarea:focus:not([readonly]):focus {
  border-bottom: 1px solid #FA0196;
    box-shadow: 0 1px 0 0 #FA0196;
    color: #FA0196;
}
.md-form input[type=text]:not(.browser-default):focus:not([readonly]):focus + label {
    color: #FA0196;

}

.md-form textarea.md-textarea:focus:not([readonly]):focus+label {
    color: #FA0196;
}
/* End: Material Form  Styling*/
/* END: INDEX.HTML*/


/* START: TEAM.HTML*/
.card {
  border: none;
  box-shadow: none;
  font-weight: 300;
}
.card img {
  width: 75%;
  max-width: 300px;
  display: block;
  margin: 0 auto;
}
.card-header {
    background-color: #FFFFFF;
    border-bottom: none;
    padding-bottom: 0px;
  }
.sub-text {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: .5px;
}
/* END: TEAM.HTML*/


/* START: STUDIO.HTML*/
/* Table Heading in Left Column*/
.table th {
  border-top: none;
  border-bottom: none;
}

/* Table Styling in Right Column*/
.table td {
  border-top: none;
  border-bottom: 1px solid #FA0196;
}
.table td.no-border {
  border-top: none;
  border-bottom: none;
}

table, ul {
  line-height: 1.5;
}
ul {
  list-style: none;
  padding-left: 0px;
}
/* END: Table styling (Used on studio.html)*/

.modal-dialog {
    max-width: 1024px;
  }
.modal-footer {
  border-top: none;
}
/* END: STUDIO.HMTL*/

/* START: SEVICES.HTML/*/
.free-session-banner {
  background-color: #FA0196;
  background-image: url('../Assets/Images/hero-img4.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  color: #FFFFFF;
}
/* END: SEVICES.HTML/*/

/* START: UNIVERSAL FOOTER*/
footer .black-bg {
      background-color: rgba(0,0,0,.2);
}
footer a:hover {
  color:#FA0196;
}
.page-footer {
  background-color: #141413;
}
.footer-brand {
  max-width: 140px;
}
.font-small {
  font-size: 14px;
  font-weight: 300;
}
.footer-copyright {
  font-size:12px;
  font-weight: 300;
}
/* END: UNIVERSAL FOOTER*/

.ty-height {
min-height: calc(100vh - 475px)
}
